.definition{
    width: 100%;
    display: inline-block;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    line-clamp: 6;
    -webkit-box-orient: vertical;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}