.person {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-basis: 5%;
}

.person span {
  font-size: 1vw;
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  font-weight: bold;
  line-height: 2vw;
  color: rgba(0, 0, 0, .7);
  border: solid 5px rgba(0, 0, 0, .7);
}
