.person {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-basis: 5%;
}

.person span {
  font-size: 2vw;
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  font-weight: bold;
  line-height: 3vw;
  color: rgba(0, 0, 0, .7);
  border: solid 3px rgba(0, 0, 0, .7);
}
